
RoadInv/appsettings.json
RoadInv/bin/Debug/net5.0/appsettings.json
RoadInv/bin/Release/net5.0/appsettings.json
RoadInv/obj/Release/net5.0/PubTmp/Out/appsettings.json
.vs/RoadInv/v16/TestStore/0/testlog.manifest
.vs/RoadInv/DesignTimeBuild/.dtbcache.v2
.vs/RoadInv/DesignTimeBuild/.dtbcache.v2
.vs/RoadInv/v16/TestStore/0/591.testlog
.vs/RoadInv/v16/TestStore/0/testlog.manifest
RoadInv/obj/Debug/net5.0/RoadInv.pdb
.vs/RoadInv/v16/TestStore/0/testlog.manifest
roadInvUnitTest/obj/Debug/net5.0/roadInvUnitTest.pdb
roadInvUnitTest/obj/Debug/net5.0/roadInvUnitTest.dll
roadInvUnitTest/obj/Debug/net5.0/roadInvUnitTest.csproj.AssemblyReference.cache
roadInvUnitTest/obj/Debug/net5.0/ref/roadInvUnitTest.dll
roadInvUnitTest/bin/Debug/net5.0/roadInvUnitTest.pdb
roadInvUnitTest/bin/Debug/net5.0/roadInvUnitTest.dll
roadInvUnitTest/bin/Debug/net5.0/ref/roadInvUnitTest.dll
RoadInv/obj/Debug/net5.0/RoadInv.csproj.AssemblyReference.cache
.vs/RoadInv/v16/TestStore/0/testlog.manifest
.vs/RoadInv/v16/TestStore/0/119.testlog
.vs/RoadInv/v16/TestStore/0/116.testlog
.vs/RoadInv/v16/.suo
roadInvUnitTest/bin/Debug/net5.0/roadInvUnitTest.dll
