@{Layout = "_Layout.cshtml";}

@{
    ViewData["Title"] = "Roadway Inventory";
}

<br />
<section>
    <h1>Oppsie, Looks like we have encountered some kind of error</h1>
    <br>
    <p>
        Please refresh you the program by going back to the homepage. If problems persist please contact the responsible programmer and database administrator in SIR Division, Traffic Information Section.
    </p>
    <footer>For more Information, please contact Traffic Information Systems at <a href='tel:501-568-2111'>501-568-2111</a></footer>
</section>

