@{Layout = "_Layout.cshtml";}

@{
    ViewData["Title"] = "Roadway Inventory";
}

<br />
<section>
    <h1>Welcome to the Roadway Inventory Database!</h1>
    <br>
    <p>
        This is the roadway inventory which contains segemented data for all public road in the state of Arkansas.
        If you would like to have a direction connection to the database <a href='#'>click</a> here for directions
    </p>
    <footer>For more Information, please contact Traffic Information Systems at <a href='tel:501-568-2111'>501-568-2111</a></footer>
</section>

