@model RoadInv.DB.RoadInv
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*Need to addTagHelper globally*@

@{
    ViewData["Title"] = "NHS_Edit";
}

<h1>NHS_Edit</h1>

<h4>RoadInv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AhDistrict" class="control-label"></label>
                <input asp-for="AhDistrict" class="form-control" />
                <span asp-validation-for="AhDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AhCounty" class="control-label"></label>
                <input asp-for="AhCounty" class="form-control" />
                <span asp-validation-for="AhCounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AhRoute" class="control-label"></label>
                <input asp-for="AhRoute" class="form-control" />
                <span asp-validation-for="AhRoute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AhSection" class="control-label"></label>
                <input asp-for="AhSection" class="form-control" />
                <span asp-validation-for="AhSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogDirect" class="control-label"></label>
                <input asp-for="LogDirect" class="form-control" />
                <span asp-validation-for="LogDirect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AhRoadId" class="control-label"></label>
                <input asp-for="AhRoadId" class="form-control" />
                <span asp-validation-for="AhRoadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GovermentCode" class="control-label"></label>
                <input asp-for="GovermentCode" class="form-control" />
                <span asp-validation-for="GovermentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuralUrbanArea" class="control-label"></label>
                <input asp-for="RuralUrbanArea" class="form-control" />
                <span asp-validation-for="RuralUrbanArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrbanAreaCode" class="control-label"></label>
                <input asp-for="UrbanAreaCode" class="form-control" />
                <span asp-validation-for="UrbanAreaCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncClass" class="control-label"></label>
                <input asp-for="FuncClass" class="form-control" />
                <span asp-validation-for="FuncClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nhs" class="control-label"></label>
                <input asp-for="Nhs" class="form-control" />
                <span asp-validation-for="Nhs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemStatus" class="control-label"></label>
                <input asp-for="SystemStatus" class="form-control" />
                <span asp-validation-for="SystemStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialSystems" class="control-label"></label>
                <input asp-for="SpecialSystems" class="form-control" />
                <span asp-validation-for="SpecialSystems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BothDirectionNumLanes" class="control-label"></label>
                <input asp-for="BothDirectionNumLanes" class="form-control" />
                <span asp-validation-for="BothDirectionNumLanes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneDirectionNumLanes" class="control-label"></label>
                <input asp-for="OneDirectionNumLanes" class="form-control" />
                <span asp-validation-for="OneDirectionNumLanes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment1" class="control-label"></label>
                <input asp-for="Comment1" class="form-control" />
                <span asp-validation-for="Comment1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeRoad" class="control-label"></label>
                <input asp-for="TypeRoad" class="form-control" />
                <span asp-validation-for="TypeRoad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteSign" class="control-label"></label>
                <input asp-for="RouteSign" class="form-control" />
                <span asp-validation-for="RouteSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aphn" class="control-label"></label>
                <input asp-for="Aphn" class="form-control" />
                <span asp-validation-for="Aphn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Access" class="control-label"></label>
                <input asp-for="Access" class="form-control" />
                <span asp-validation-for="Access" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOperation" class="control-label"></label>
                <input asp-for="TypeOperation" class="form-control" />
                <span asp-validation-for="TypeOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearBuilt" class="control-label"></label>
                <input asp-for="YearBuilt" class="form-control" />
                <span asp-validation-for="YearBuilt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearRecon" class="control-label"></label>
                <input asp-for="YearRecon" class="form-control" />
                <span asp-validation-for="YearRecon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedianWidth" class="control-label"></label>
                <input asp-for="MedianWidth" class="form-control" />
                <span asp-validation-for="MedianWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaneWidth" class="control-label"></label>
                <input asp-for="LaneWidth" class="form-control" />
                <span asp-validation-for="LaneWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceWidth" class="control-label"></label>
                <input asp-for="SurfaceWidth" class="form-control" />
                <span asp-validation-for="SurfaceWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightShoulderSurface" class="control-label"></label>
                <input asp-for="RightShoulderSurface" class="form-control" />
                <span asp-validation-for="RightShoulderSurface" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftShoulderSurface" class="control-label"></label>
                <input asp-for="LeftShoulderSurface" class="form-control" />
                <span asp-validation-for="LeftShoulderSurface" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightShoulderWidth" class="control-label"></label>
                <input asp-for="RightShoulderWidth" class="form-control" />
                <span asp-validation-for="RightShoulderWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftShoulderWidth" class="control-label"></label>
                <input asp-for="LeftShoulderWidth" class="form-control" />
                <span asp-validation-for="LeftShoulderWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoadwayWidth" class="control-label"></label>
                <input asp-for="RoadwayWidth" class="form-control" />
                <span asp-validation-for="RoadwayWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraLanes" class="control-label"></label>
                <input asp-for="ExtraLanes" class="form-control" />
                <span asp-validation-for="ExtraLanes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearAdt" class="control-label"></label>
                <input asp-for="YearAdt" class="form-control" />
                <span asp-validation-for="YearAdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedianType" class="control-label"></label>
                <input asp-for="MedianType" class="form-control" />
                <span asp-validation-for="MedianType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceType" class="control-label"></label>
                <input asp-for="SurfaceType" class="form-control" />
                <span asp-validation-for="SurfaceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternativeRouteName" class="control-label"></label>
                <input asp-for="AlternativeRouteName" class="form-control" />
                <span asp-validation-for="AlternativeRouteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegacyId" class="control-label"></label>
                <input asp-for="LegacyId" class="form-control" />
                <span asp-validation-for="LegacyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegacyBlm" class="control-label"></label>
                <input asp-for="LegacyBlm" class="form-control" />
                <span asp-validation-for="LegacyBlm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegacyElm" class="control-label"></label>
                <input asp-for="LegacyElm" class="form-control" />
                <span asp-validation-for="LegacyElm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateUserId" class="control-label"></label>
                <input asp-for="UpdateUserId" class="form-control" />
                <span asp-validation-for="UpdateUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gisid" class="control-label"></label>
                <input asp-for="Gisid" class="form-control" />
                <span asp-validation-for="Gisid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiscreateDate" class="control-label"></label>
                <input asp-for="GiscreateDate" class="form-control" />
                <span asp-validation-for="GiscreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiscreatedUser" class="control-label"></label>
                <input asp-for="GiscreatedUser" class="form-control" />
                <span asp-validation-for="GiscreatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GislastEditedUser" class="control-label"></label>
                <input asp-for="GislastEditedUser" class="form-control" />
                <span asp-validation-for="GislastEditedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GislastEditedDate" class="control-label"></label>
                <input asp-for="GislastEditedDate" class="form-control" />
                <span asp-validation-for="GislastEditedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArnoldConv" class="control-label"></label>
                <input asp-for="ArnoldConv" class="form-control" />
                <span asp-validation-for="ArnoldConv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AhBlm" class="control-label"></label>
                <input asp-for="AhBlm" class="form-control" />
                <span asp-validation-for="AhBlm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AhElm" class="control-label"></label>
                <input asp-for="AhElm" class="form-control" />
                <span asp-validation-for="AhElm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AhLength" class="control-label"></label>
                <input asp-for="AhLength" class="form-control" />
                <span asp-validation-for="AhLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

