@{Layout = "_Layout.cshtml";}

@section nav_func {
    active
}
@{
    ViewData["Title"] = "Functional Class";
    ViewData["slash"] = "/";
}

<div id="segement-search-main-content master-grid">
    <div id="side-panel" class='split left'>
        <h3>Search</h3>
        <form>
            <div class="form-group">
                <label for='form-dissolve-method'>Dissolve</label>
                <select class="form-control" id='form-dissolve-method'>
                    <option></option>
                    <option value="1">Segement</option>
                    <option value="2">ARNOLD ID</option>
                </select>
            </div>
            <div class="form-group">
                <label for='form-district'>Distict Number</label>
                <select class="form-control" id='form-distict'>
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class='form-group'>
                <label>County</label>
                <input id="input-county" class="form-control" type="text" />
            </div>
            <div class='form-group'>
                <label>Route</label>
                <input class="form-control" type='text' />
            </div>
            <div class='form-group'>
                <label>Section</label>
                <input class="form-control" type='text' />
            </div>
            <div class='form-group'>
                <label>Logmile</label>
                <input class="form-control" type='text' />
            </div>
            <div id="form-button-holder" class='form-group'>
                <button id="submit-search">Submit </button>
                <button id="clear-all">Clear All</button>
            </div>


        </form>
    </div>
    <div class='split-right'>
        <div class="master-grid grid-container" style="align-content: center; text-align: center;">
            <div><h1>System Change: Functional Class</h1> </div>
            <div><a target="_blank" href="..//new_segement.html"><button id="new-seg-button">New Segement</button></a></div>

        </div>
        <section>
            <h5>Functional Class Designation (1-6) Summarized by: <span>ARNOLD ID</span> </h5>
            <table>
                <tr>
                    <th>ARNOLD ID</th>
                    <th>County</th>
                    <th>Section</th>
                    <th>Direction</th>
                    <th>BLM</th>
                    <th>ELM</th>
                    <th>Length</th>
                    <th>Functional Class</th>
                </tr>
                <tr>
                    <td>N/A</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>N/A</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>N/A</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>N/A</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>N/A</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>N/A</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </section>
    </div>
</div>